<%= AdminNavigation("createarticle") %>

<div class="content create-article">
	<h1>Create a New Article</h1>
	<%= form_tag(:method => "post") do %>
	<%= select_tag(:section, options_for_select([["News", "News"], ["Racing Team", "Racing Team"]])) %>
	<%= text_field_tag(:title,nil,:placeholder => "Title") %>
	<%= text_area_tag(:body,nil,:placeholder => "Content") %>
	<%= submit_tag("Create",:class => "btn btn-primary") %>
	<% end %>
</div>