<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-wrap">
	<h5>Personal Details:</h5>
	<table class="table table-condensed">
		<tr>
			<td>
			<div class="field">
				<%= f.text_field :firstname, :placeholder => "First Name", :required => "true" %>
			</div>
			<div class="field">
				<%= f.text_field :lastname, :placeholder => "Last Name", :required => "true" %>
			</div>
			<div class="field">
				<%= f.text_field :street, :placeholder => "Street", :required => "true" %>
			</div>
			<div class="field">
				<%= f.text_field :city, :placeholder => "City", :required => "true" %>
			</div></td>
			<td>
			<div class="field">
				<%= f.text_field :postcode, :placeholder => "Postcode", :required => "true" %>
			</div>
			<div class="field">
				<%= f.text_field :county, :placeholder => "County", :required => "true" %>
			</div>
			<div class="field">
				<%= f.text_field :mobile, :placeholder => "Mobile"  %>
			</div>
			<div class="field">
				<%= f.text_field :email, :placeholder => "Email", :required => "true" %>
			</div></td>
		</tr>
	</table>
</div>
<div class="form-wrap">
	<h5>Account Details:</h5>
	<div id="account-fields">
		<table class="table table-condensed">
			<tr>
				<td>
				<div class="field">
					<%= f.text_field :username, :placeholder => "Username", :required => "true" %>
				</div></td>
				<td>
				<div class="field">
					<%= f.text_field :password, :placeholder => "Password", :type => "password", :required => "true" %>
				</div></td>
			</tr>
		</table>
	</div>
</div>
<div class="actions">
	<%= f.submit(:class => "blue-pill", :value => "Register") %>
</div>
<% end %>
