<%= Navigation("login") %>

<div class="content">
	<h1>Login</h1>
	
	<%= form_for(@user) do |f| %>
	<div class="form-wrap">
		<h5>Account Details:</h5>
		<div id="account-fields">
			<table class="table table-condensed">
				<tr>
					<td>
					<div class="field">
						<%= f.text_field :username, :placeholder => "Username", :required => "true" %>
					</div></td>
					<td>
					<div class="field">
						<%= f.text_field :password, :placeholder => "Password", :type => "password", :required => "true" %>
					</div></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="actions">
		<%= f.submit(:class => "blue-pill", :value => "Login") %>
	</div>
	<% end %>

</div>
