<%= Navigation("home") %>

<div id="new-articles" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="../../assets/ski-sport.jpg" />
			<div class="carousel-caption">
				<h3>Welcome to Oval Ski Club</h3>
				<p>
				The skiing club is based at the dry ski slope, located towards the rear of the Oval Sports Centre, Bebington, Wirral. For more information on locality of the skiing club please visit the Contact Us page. We offer skiing tuition for all ages, an active social club promoting various events through out the year, and also a Ski Racing Team which all members are welcome to join. We are ideally located for the Wirral, Cheshire, Liverpool and Merseyside areas.
				</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="content">
	<div class="row-fluid">
		<div class="span8">
			<% @news.each do |news| %>
			    <h4><%= news.title %></h4>
			    <p><%= news.body.html_safe %></p>
			    <hr/>
			<% end %>
			<br/>
			<%= link_to 'Manage Announcements',{:controller => :news, :action => :index},:class => "blue-pill" %>
		</div>
		<div class="span4">
			<table class="table table-condensed">
			  <tr>
			    <th>Session</th>
			    <th>Start Time</th>
			    <th>End Time</th>
			  </tr>
			
			<% @sessions.each do |session| %>
			  <tr>
			    <td><%= session.sessioninfo %></td>
			    <td><%= session.starttime %></td>
			    <td><%= session.endtime %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>