<%= Navigation("racingteam") %>

<div class="content">
	<% if notice!=nil %>
	<div class="alert alert-success">
		<%= notice %>
	</div>
	<% end %>
	<h4> <%= @racingteam.title %> </h4>
	<div class="para-wrap">
	<p><%= @racingteam.body.html_safe %></p>
	</div>
	<br/>
	<%= link_to 'Edit', edit_racingteam_path(@racingteam), :class  => "blue-pill" %>
	<%= link_to 'Back', racingteams_path, :class  => "blue-pill" %>
</div>

<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>